

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  print-color-adjust: exact
}

.ResumeGrid {
  width: 62.5rem;
  height: 81.25rem;
  display: grid;
  grid-template-columns: 20rem 8rem 5rem 26.5rem ;
  grid-template-rows: 4rem 8rem 3rem 20rem 3rem 3rem 25rem 3rem 4rem ;
}

.CoverGrid {
  width: 62.5rem;
  height: 81.25rem;
  display: grid;
  grid-template-columns: 20rem 8rem 5rem 26.5rem ;
  grid-template-rows: 4rem 8rem 3rem 15rem 3rem 3rem 30rem 3rem 4rem ;
}

.ResumeGrid > div {
  /* border: 1px solid black; */
}

.b-box {
  /* box-shadow: 0 0 40px rgba(0,0,0,.1); */
  box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.1);

}

.r-box  {
  box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4);

}



/* .span-4 {
  grid-column: span 4 !important;
} */

@media screen and (max-width: 770px) {
  * {
    font-size: 40%;
  }
  
}

@media print {
  .noPrint {
    visibility: hidden;
    display: none;
  }
}


